@using Dotnet_Mvc.Enums
@model List<Dotnet_Mvc.ViewModel.UserReportVm>

@{
    ViewData["Title"] = "User Report";
}

<table class="table table-bordered table-hover">
    <thead class="bg-secondary text-white">
    <tr>
        <td>S.N</td>
        <td>Name</td>
        <td>Contact No</td>
        <td>Address</td>
        <td>Username</td>
        <td>Email</td>
        <td>Status</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>

    @{
        var sn = 1;
    }
    @foreach (var u in Model)
    {
        <tr>
            <td>@sn</td>
            <td>@u.Name</td>
            <td>@u.ContactNo</td>
            <td>@u.Address</td>
            <td>@u.Username</td>
            <td>@u.Email</td>
            @if (u.IsActive)
            {
                <td class="text-success">
                    @u.Status
                </td>
            }
            else
            {
                <td class="text-danger">
                    @u.Status
                </td>
            }
            @if (u.IsActive)
            {
                <td>
                    <a asp-action="Edit"
                       asp-route-id="@u.Id" class="btn btn-primary btn-sm">Edit
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@u.Id"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Do you want to deactivate this user')">Deactivate</a>
                </td>
            }
            else
            {
                <td>
                    <a class="disabled-link btn btn-secondary">No Action</a>
                </td>
            }
        </tr>
        sn++;
    }

    </tbody>
</table>